.header{
    grid-area: h;
    background: #263238;
    margin-block-end: 10px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
}

.activLinks{
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.h6:hover{
    text-decoration-line: underline;
}