.leson{
    width: 500px;
    height: 150px;
    margin-top: 20px;
}


.titleColom1{
   margin-top: 50px;
   margin-left: 10px;
   width: 200px;
   padding-top: 100px;
}

.titleColom2{
    margin-top: 50px;
    margin-left: 400px;
    padding-top: 100px;
}

h1 :hover{
    background-color: black;
}